/**
 * @Author: xebobytes
 * @Date:   Thursday, June 16th 2022, 6:49:10 pm
 * @Filename: color-themes.css
 * @Last modified by:
 * @Last modified time: Saturday, July 2nd 2022, 5:15:41 pm
 */

 /*done up to line 1980*/

 :root { /* orig */
    /* orig color theme */
    --color-background-primary: #ffffff; /* header backgrounds */
    --color-background-secondary: #f5f6f7; /* collapsibles bc block-bg not dark enough to see well, etc. */
    --color-background-tertiary: #eff1f2; /* hover over collapsibles, alternative sidebar background (#sidebar > .inner > .alt) */
    --color-background-quartenary: rgba(222, 225, 226, 0.75); /* only background sidebar after .toggle */

    --color-placeholder: #9fa3a6; /* only ::-xx-placeholder + in menu .opener:before & in menu ul>li>ul */

    --color-transparent: rgba(255, 255, 255, 0); /* only used in sidebar */
    --color-shadow: rgba(0, 0, 0, 0.175); /* only sidebar box-shadow */


    --color-action-primary: #f56a6a; /* z.B. button, focus in form, links etc.; rgba(245, 106, 106, 1); */
    --color-action-lighter: #f67878;    /* pagination */
    --color-action-darker: #f45c5c;    /* pagination */

    --color-action-hover: rgba(245, 106, 106, 0.05); /* button hover - lighter version of primary action color (most alpha) */
    --color-action-active: rgba(245, 106, 106, 0.15); /* button active - lighter version of primary action color (more alpha) */

    --color-foreground-primary: #3d4449; /*h1-h4 */
    --color-foreground-secondary: #63696d; /*body, input, select, textarea, radio/checkbox,      orig: #7f888f*/
    --color-foreground-tertiary: #8a8e91; /* footer */


    --color-block-border: rgba(210, 215, 217, 0.75); /* blockquote & code border, hr, borders in forms, border of box and list and other borders; also post background */
    --color-block-bg: rgba(230, 235, 237, 0.25); /*code background, part of table background */
 }

/* suggested:

--color-action-secondary    z.B. 2nd button type
--color-accent    hover over buttons or visited links

*/



 /*
 Colors
   red: color: #f56a6a;
   p: color: #63696d;
   h1-h6: color: #3d4449;
   background: #ffffff;
   sidebar: background-color: #f5f6f7; background-color: #eff1f2;
   copyright: color: #8a8e91;
   z.T. via rgba definiert wie z.B. nav: color: rgba(255, 255, 255, 0.75);
 */
