/**
 * @Author: xebobytes
 * @Date:   Thursday, June 16th 2022, 6:49:10 pm
 * @Filename: color-themes.css
 * @Last modified by:
 * @Last modified time: Friday, August 5th 2022, 5:45:29 pm
 */


 :root { /* orig */
   /* orig typo */
    --ff-header: "Roboto Slab", serif; /*header, heading*/
    --ff-main: "Open Sans", sans-serif; /*body*/
    --ff-pre: "Courier New", monospace; /*code, pre*/


    --fs-base: 14pt; /* html font size -> body, input, select, textare */
    --fs-1: 3.5em; /*h1*/  /* 4em, up to 1680px 3.5em, up to 980px 3.25, up to 736px 2em line-height 1.4 */
    --fs-2: 1.75em; /*h2*/  /* 1.75em, up to 736px 2em line-height 1.4  */
    --fs-3: 1.5em; /*h3*/  /* 1.25em */
    --fs-4: 1.25em; /*h4*/  /* 1.1em */
    --fs-5: 1.1em; /*h5*/  /* 0.9em */
    --fs-6: 1em; /*h6*/  /* 0.7em */

    --fs-base-w1680: 13pt; /**/
    --fs-base-w1280: 12pt; /**/
    --fs-base-w360: 10pt; /**/

    --fs-w1680-1: 3.5em; /**/
    --fs-w980-1: 3.25em; /**/
    --fs-w736-1: 2em; /**/

    --fs-w736-2: 1.5em; /**/

    --fs-subp: 0.8em; /**/

    --fs-code-pre: 0.9em; /**/

   /*font weight? 400 norm
   line-height? 1.65 norm */

 }
